[submodule "minikeyvalue"]
	path = minikeyvalue
	url = https://github.com/MoreTore/minikeyvalue.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MoreTore/connect.git
[submodule "openpilot"]
	path = openpilot
	url = https://github.com/MoreTore/openpilot.git
