[submodule "connect"]
	path = connect
	url = https://github.com/MoreTore/connect.git
[submodule "minikeyvalue"]
	path = minikeyvalue
	url = https://github.com/MoreTore/minikeyvalue.git
[submodule "connect-api"]
	path = connect-api
	url = https://github.com/MoreTore/connect-api.git
[submodule "my-comma-auth"]
	path = my-comma-auth
	url = https://github.com/MoreTore/my-comma-auth.git
