<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Log Event Viewer</title>
    <style>
        body { font-family: monospace; }
        select { min-width: 128px; }
        pre { background: #f8f8f8; padding: 1em; border-radius: 4px; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <b>log:</b>
    <select>
        <option value="">-- Select event --</option>
        {% for event in events %}
          <option value="{{ event }}"{% if selected_event == event %} selected{% endif %}>{{ event }}</option>
        {% endfor %}
    </select>
    <pre>{{ text }}</pre>
    <script>
        $(document).ready(function() {
            $('select').change(function() {
                let ps = new URLSearchParams(window.location.search);
                ps.set('event', $('select').val());
                window.location.search = ps.toString();
            });
        });
    </script>
</body>
</html>