<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
          input { width: 500px; }
          body { font-family: monospace; }
          th { border: 1px solid black; }
          td { border: 1px solid black; padding: 2px; }
          td[right] { text-align: right; }
          th[title]::after, td[title]::after { content: '[i]'; color: blue; font-size: 0.5rem; font-weight: bold; vertical-align: super; }
          th[warn]::after, td[warn]::after { content: '[!]'; color: red; font-size: 0.5rem; font-weight: bold; vertical-align: super; }
          #lines_to_deactivate { color: red; font-weight: bold; }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
          window.API_HOST = "http://154.38.175.6:3111";
          if (typeof window.API_HOST === 'undefined') {
      window.API_HOST = 'http://154.38.175.6:3111';

    }
    
    Date.prototype.toLocalString = function() {
      return this.getUTCFullYear() +
        '-' + (this.getMonth() + 1).toString().padStart(2, '0') +
        '-' + this.getDate().toString().padStart(2, '0') +
        ' ' + this.getHours().toString().padStart(2, '0') +
        ':' + this.getMinutes().toString().padStart(2, '0') +
        ':' + this.getSeconds().toString().padStart(2, '0');
    };
    
    $(document).ready(function() {
      // convert epoch times to localtime
      $('time').each(function(i, e) {
        var dt = parseInt($(e).attr('datetime'));
        if (dt) {
          $(e).text(new Date(dt * 1000).toLocalString());
        }
      });
    });
    
    function api_request(method, endpoint, callback, extraOptions) {
      var options = $.extend(true, {}, {
          method: method,
          headers: {
            'Authorization': getCookie('Authorization')
          },
          url: window.API_HOST + "/" + endpoint,
          success: callback
      }, extraOptions);
      return $.ajax(options);
    }
    function api_post(endpoint, data, callback) {
      return api_request('POST', endpoint, callback, { data: JSON.stringify(data), contentType: 'application/json' });
    }
    function api_patch(endpoint, data, callback) {
      return api_request('PATCH', endpoint, callback, { data: JSON.stringify(data) , contentType: 'application/json' });
    }
    function api_get(endpoint, callback) {
      return api_request('GET', endpoint, callback);
    }
    function api_delete(endpoint) {
      return api_request('DELETE', endpoint);
    }
    function bind(dongle_id) {
      var email = prompt("Granting access for "+dongle_id+" to email?");
      // check if user clicked cancel
      if (email === null) {
        return
      }
      api_post("v1/devices/" + dongle_id + "/add_user", {email: email}, function(x) { alert('Bound ' + email + ' to ' + dongle_id); });
      window.location.reload();
    }
    function unbind(dongle_id, email) {
      var x = confirm("Remove " + (email || "self") + " from " + dongle_id + "?");
      if (x === false) {
        return;
      }
      api_post("v1/devices/" + dongle_id + "/del_user", email ? {email: email} : {}, function(x) { alert('Unbound ' + (email || 'self') + ' from ' + dongle_id); });
      if (email) {
        window.location.reload();
      } else {
        window.location.href = '/';
      }
    }
    function unpair(dongle_id) {
      if (confirm("Unpair "+dongle_id+"?")) {
        api_post("v1/devices/" + dongle_id + "/unpair", {}, function(x) { alert('Unpaired ' + dongle_id); });
      }
      window.location.reload();
    }
    
    function preserveRoute(route) {
      api_post('v1/route/' + route + '/preserve').then(function(data, _, xhr) {
        if (xhr.status === 200) {
          alert('Preserved ' + route);
          window.location.reload();
        } else if (xhr.status === 403) {
          alert('Maximum number of drives have been preserved. Unpreserve a drive and try again.');
        } else {
          console.log('failed to preserve route', route, xhr.url, xhr.status, data);
        }
      });
    }
    function unpreserveRoute(route) {
      api_delete('v1/route/' + route + '/preserve').then(function(data, _, xhr) {
        if (xhr.status === 200) {
          alert('Unpreserved ' + route);
          window.location.reload();
        } else {
          console.log('failed to unpreserve route', route, xhr.url, xhr.status, data);
        }
      });
    }
    function publicizeRoute(route) {
      var x = confirm("Publicizing "+route+". This will allow any comma user with the route name to access all route files.");
      if (x === false) {
        return;
      }
    
      api_patch('v1/route/' + route + '/', {'is_public': true}).then(function(data, _, xhr) {
        if (xhr.status === 200) {
          alert(route + ' is now public.');
          window.location.reload();
        } else {
          console.log('failed to publicize route', route, xhr.url, xhr.status, data);
        }
      })
    }
    function unpublicizeRoute(route) {
      api_patch('v1/route/' + route + '/', {'is_public': false}).then(function(data, _, xhr) {
        if (xhr.status === 200) {
          alert(route + ' is now private.');
          window.location.reload();
        } else {
          console.log('failed to privatize route', route, xhr.url, xhr.status, data);
        }
      })
    }
    function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift().replace(/^"(.*)"$/, '$1');
    }
    
          
        </script>
        <title>{{ onebox }} - comma useradmin</title>
      </head>
<body>
  <form>
      <input name="onebox" placeholder="type a username, route, dongle id" value="{{ onebox }}">
  </form>

  <hr>results: {{ onebox }}
  <script>var ROUTE_NAME = '{{ onebox | replace(from="/", to="|")}}';</script>

  {% if devices.defined is defined %}
  <hr>
  <b>devices:</b><br>
  <table id="table_devices">
    <tbody>
      <tr>
        <td style="white-space: nowrap">dongle_id</td>
        <td style="white-space: nowrap">serial</td>
        <td style="white-space: nowrap">device_type</td>
        <td style="white-space: nowrap">alias</td>
        <td style="white-space: nowrap">sim_id</td>
        <td style="white-space: nowrap">prime</td>
        <td style="white-space: nowrap">prime_type</td>
        <td style="white-space: nowrap">last_ping</td>
        <td style="white-space: nowrap"></td>
      </tr>
      {% for device in devices.devices %}
      <tr>
        <td style="white-space: nowrap"><a href="/useradmin?onebox={{ device.dongle_id }}">{{ device.dongle_id }}</a></td>
        <td style="white-space: nowrap">{{ device.serial }}</td>
        <td style="white-space: nowrap">{{ device.device_type }}</td>
        <td style="white-space: nowrap">{{ device.alias }}</td>
        <td style="white-space: nowrap">{{ device.sim_id }}</td>
        <td style="white-space: nowrap">{{ device.prime }}</td>
        <td style="white-space: nowrap">{{ device.prime_type }}</td>
        {% if device.online %}
        <td style="white-space: nowrap"><span style="color: green;"><time datetime="{{ device.last_ping }}">{{ device.last_ping }}</time></span></td>
        {% else %}
        <td style="white-space: nowrap"><span style="color: red;"><time datetime="{{ device.last_ping }}">{{ device.last_ping }}</time></span></td>
        {% endif%}
        {% if device.uploads_allowed %}
        <td style="white-space: nowrap"><span style="color: green;">uploads allowed</span></td>
        {% else %}
        <td style="white-space: nowrap"><span style="color: red;">uploads ignored</span></td>
        {% endif%}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if segments.defined is defined %}
  <hr>
  <a href="link" style="color: green">connect</a>
  <a onclick="unpublicizeRoute('{{ onebox | replace(from="/", to="|")}}')" style="color: blue; text-decoration: underline; cursor: pointer;">make private</a>
  <hr>
  {% for segment in segments.segments %}
    {% set_global canonical_name = segment.canonical_name %}
  {% endfor %}
  <b>dongle id:</b> <a href="/useradmin?onebox={{ dongle_id }}">{{ dongle_id }}</a><br>
  <hr>
  <b>segments:</b><br>
  <table id="data-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Parsed Data</th>
        <th>qlog</th>
        <th>qcam</th>
        <th>rlog</th>
        <th>fcam</th>
        <th>dcam</th>
        <th>ecam</th>
      </tr>
    </thead>
    {% for segment in segments.segments %}
    <tbody>
      <tr>
        <td style="white-space: nowrap">{{ segment.number }}</td>
        <td style="white-space: nowrap">
          {% if segment.ulog_url != "" %}
          <a href="{{ segment.ulog_url }}">
            {{ segment.canonical_name }}
          </a>
          {% endif %}
        </td>
        <td style="white-space: nowrap">
          {% if segment.qlog_url != "" %}
          <a href="{{ segment.qlog_url }}">
            qlog.bz2
          </a>
          {% endif %}
        </td>
        <td style="white-space: nowrap">
          {% if segment.qcam_url != "" %}
          <a href="{{ segment.qcam_url }}">
            camera.ts
          </a>
          {% endif %}
        </td>
        <td style="white-space: nowrap">
          {% if segment.rlog_url != "" %}
          <a href="{{ segment.rlog_url }}">
            rlog.bz2
          </a>
          {% endif %}
        </td>
        <td style="white-space: nowrap">
          {% if segment.fcam_url != "" %}
          <a href="{{ segment.fcam_url }}">
            fcamera.hevc
          </a>
          {% endif %}
        </td>
        <td style="white-space: nowrap">
          {% if segment.dcam_url != "" %}
          <a href="{{ segment.dcam_url }}">
            dcamera.hevc
          </a>
          {% endif %}
        </td>
        <td style="white-space: nowrap">
          {% if segment.ecam_url != "" %}
          <a href="{{ segment.ecam_url }}">
            ecamera.hevc
          </a>
          {% endif %}
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {% endif %}

  {% if routes.defined is defined %}
  <hr>
  <b>routes:</b><br>
  <table id="table_routes">
    <tbody>
      <tr>
        <td style="white-space: nowrap">start_time</td>
        <td style="white-space: nowrap">route_name</td>
        <td style="white-space: nowrap">connect</td>
        <td style="white-space: nowrap">preserve</td>
        <td style="white-space: nowrap">miles</td>
        <td style="white-space: nowrap">maxqlog</td>
        <td style="white-space: nowrap">maxqcamera</td>
        <td style="white-space: nowrap">platform</td>
        <td style="white-space: nowrap">git_remote</td>
        <td style="white-space: nowrap">git_branch</td>
      </tr>
      {% for route in routes.routes %}
      <tr>
        <td style="white-space: nowrap">{{ route.start_time }}</td>
        <td style="white-space: nowrap">
          <a href="useradmin?onebox={{ route.canonical_route_name }}">
            {{ route.canonical_route_name }}
          </a>
        </td>
        <td style="white-space: nowrap">
          {% if route.connect_url is defined %}
          <a href="{{ route.connect_url }}">
            connect
          </a>
          {% endif %}
        </td>
        <td style="white-space: nowrap">
          {% if route.preserve_url is defined %}
          <a href="{{ route.preserve_url }}">
            preserve
          </a>
          {% endif %}
        </td>
        <td style="white-space: nowrap">{{ route.miles }}</td>
        <td style="white-space: nowrap">{{ route.max_qlog }}</td>
        <td style="white-space: nowrap">{{ route.max_qcam }}</td>
        <td style="white-space: nowrap">{{ route.platform }}</td>
        <td style="white-space: nowrap">{{ route.git_remote }}</td>
        <td style="white-space: nowrap">{{ route.git_branch }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if device_users.defined is defined %}
  <hr>
  <b>authorized users:</b><br>
  <table id="table_device_users">
    <tbody>
      <tr>
        <td style="white-space: nowrap">email</td>
        <td style="white-space: nowrap"></td>
        <td style="white-space: nowrap">access_level</td>
        <td style="white-space: nowrap"></td>
      </tr>
      {% for device_user in device_users %}
      <tr>
        <td style="white-space: nowrap"><a href="/?onebox={{ device_user.email }}">{{ device_user.email }}</a></td>
        <td style="white-space: nowrap"></td>
        <td style="white-space: nowrap">{{ device_user.access_level }}</td>
        <td style="white-space: nowrap">
          <a onclick="unbind('{{ device_user.dongle_id }}');" style="color: red; text-decoration: underline; cursor: pointer;">
            remove
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if bootlogs.defined is defined %}
  <hr>
  <b>boot logs:</b><br>
  <table id="table_bootlogs">
    <tbody>
      <tr>
        <td style="white-space: nowrap">Parsed Boot log</td>
        <td style="white-space: nowrap">download</td>
      </tr>
      {% for bootlog in bootlogs.bootlogs %}
      <tr>
        <td style="white-space: nowrap">{{ bootlog.canonical_name }}</td>
        <td style="white-space: nowrap">
          {% if bootlog.url != "" %}
          <a href="{{ bootlog.url }}">
            download
          </a>
          {% endif %}
        </td>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <hr>
  <a href="/auth/logout">Sign out</a>
</body>
</html>
